.basket {
  position: absolute;
  max-width: 395px;
  width: 100%;
  min-height: calc(100vh - 96px);
  background-color: #fff;
  right: -445px;
  padding: 48px 25px;
  z-index: 2;
  transition: 0.5s;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cross {
    max-width: 13px;
  }

  &__road {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    max-height: 60vh;
    box-sizing: border-box;
    overflow: auto;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__img {
    max-width: 204px;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 5px;
  }

  &__price {
    font-weight: 600;
  }

  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80px;
    width: 100%;
    &__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      width: 100%;
    }
    &__delete {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 70px;
      width: 100%;
      cursor: pointer;
      img {
        max-width: 22.75px;
      }
    }
  }

  &__minus {
    font-size: 27px;
    font-weight: 700;
    cursor: pointer;
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cc5520;
    font-size: 19px;
    font-weight: 700;
    line-height: 34.54px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    max-width: 50px;
    width: 100%;
    max-height: 35px;
    border-radius: 45%;
  }

  &__plus {
    font-size: 19px;
    font-weight: 700;

    cursor: pointer;
  }

  &__remove {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  &__buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 30px;
    max-width: 100%;
    width: 100%;
    font-size: 37px;
    font-weight: 800;
    line-height: 55.5px;
    letter-spacing: 0.05em;
  }
  &__total {
    display: flex;
    font-size: 30px;
  }

  &__checkout {
    min-height: 70px;
    max-width: 355px;
    width: 100%;
    background: #cc5520;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
  }
}
.basket-hidden {
  right: -100%;
  transition: right 0.5s ease-in-out;
}

.basket-active {
  right: 0;
  transition: right 0.5s ease-in-out;
}
@media (max-width: 670px) {
  .basket {

    &__total {
      flex-direction: row;
      font-size: 30px;
    }
    &__buy {
      bottom: 20px;
    }
  }
  .path {
  }
  .path-title {
    font-size: 20px;
  }
}
