.footer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  min-height: 380px;
  background-color: #191919;
  color: white;
  &__wrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    min-height: 180px;
    margin-top: 80px;
  }

  &__info {
    line-height: 21px;
    letter-spacing: 5%;
  }

  &__logo {
    max-width: 121.67px;
  }

  &__text {
    max-width: 200px;
    font-size: 14px;
    margin: 18px 0 9px 0;
  }

  &__contact {
    margin-bottom: 15px;
  }

  &__sotial-networks {
    display: flex;
    justify-content: space-between;
    max-width: 99px;
  }
  &__icon {
    max-width: 23px;
    cursor: pointer;
  }
  &__lists {
    display: flex;
    justify-content: space-between;
    max-width: 830px;
    width: 100%;
  }

  &__copyright {
    margin-top: 70px;
  }
}
.list {
  &__title {
    font-weight: 600;
    font-style: 16px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__item {
    margin-bottom: 15px;
    font-style: 14px;
  }
}
@media (max-width: 850px) {
  .footer {
    &__menu {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__lists {
      flex-wrap: wrap;
    }
    &__sotial-networks {
      margin: 0 auto 40px auto;
    }
    &__copyright {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
}
