.our-history {
  display: none;
  flex-direction: column;
  align-items: center;

  &__road {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100%;
    min-height: 150px;
    background-color: #e6e6e6;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin-bottom: 140px;
  }

  &__block1 {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: 110px;
  }

  &__block2 {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: 67px;
  }
}
.path {
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.05em;
  text-align: center;
}
.path-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}
.block {
  &__text {
    max-width: 651px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 31px;
  }

  &__img {
    max-width: 469px;
    max-height: 602px;
  }
}

@media (max-width: 850px) {
  .our-history {
    &__block1,
    &__block2 {
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }
    &__block2 {
      flex-direction: column-reverse;
      margin-top: 0;
    }
    &__block1 {
      margin-top: 0;
    }
    &__blocks {
      margin-bottom: 30px;
    }
  }
  .block__title {
    margin-top: 20px;
  }
}
