body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.active {
  display: block;
}

.mainpage, .our-history, .all-items {
  display: none;
}

input[type=range]::-moz-range-progress {
  background-color: #CC5520;
}

input[type=range]::-moz-range-track {
  background-color: #9a905d;
}

/* IE*/
input[type=range]::-ms-fill-lower {
  background-color: #CC5520;
}

input[type=range]::-ms-fill-upper {
  background-color: #9a905d;
}

input[type=range] {
  overflow: hidden;
  max-width: 200px;
  width: 100%;
  -webkit-appearance: none;
  background-color: white;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: white;
  margin-top: -1px;
}

input[type=range]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #CC5520;
  border-radius: 50%;
  box-shadow: -150px 0 0 150px #CC5520;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 100%;
  width: 100%;
  min-height: 102px;
  background-color: hsla(0, 0%, 0%, 0.45);
  color: white;
  z-index: 1;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
}
.header__dots {
  display: none;
}
.header__logo {
  max-width: 123px;
  max-height: 23px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  width: 100%;
}
.header__menu__mobile {
  display: none;
}
.header__item:hover {
  color: #cc5520;
  cursor: pointer;
}
.header__cross {
  display: none;
}
.header__icons {
  display: flex;
  justify-content: space-between;
  max-width: 65px;
  width: 100%;
}
.header__icon {
  max-width: 20px;
  max-height: 20px;
}

@media (max-width: 670px) {
  .header__logo {
    position: absolute;
    left: calc(50% - 61.5px);
  }
  .header__wrapper {
    position: relative;
  }
  .header__menu {
    display: none;
  }
  .header__menu__mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    top: -310px;
    font-weight: 600;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
  }
  .header__item {
    padding: 20px 0;
  }
  .header__cross {
    display: flex;
    max-width: 18px;
    padding: 20px 0;
  }
  .header__dots {
    display: flex;
    margin: auto 0;
    max-width: 21px;
    max-height: 4.16px;
    cursor: pointer;
  }
  .activeAn {
    transition: 0.3s;
    top: 60.5px;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .black {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  min-height: 100%;
  overflow-x: hidden;
}
.mainpage__wrapper {
  display: flex;
  width: 100%;
  padding-top: 236px;
  min-height: 1200px;
  background: url(../assets/mainpageFox.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 104px;
  color: white;
}
.mainpage__block {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.mainpage__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  max-width: 500px;
}
.mainpage__text {
  font-size: 20px;
  max-width: 510px;
  line-height: 30px;
}
.mainpage__buy {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
}
.mainpage__items {
  display: flex;
  justify-content: space-between;
}
.mainpage__items__two {
  display: flex;
  flex-direction: column;
  max-width: 561px;
  width: 100%;
}
.mainpage__items__one {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 585px;
  width: 100%;
}
.mainpage__item__two {
  display: flex;
  justify-content: space-between;
  max-width: 561px;
  width: 100%;
}
.mainpage__item__one {
  position: absolute;
  left: 20px;
}
.mainpage__about {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 4%;
  max-width: 246px;
  width: 100%;
}
.mainpage__kitchen-right {
  max-width: 122px;
}
.mainpage__kitchen-left {
  max-width: 156px;
}
.mainpage__fox {
  max-width: 391px;
  width: 100%;
}
.mainpage__all-btn {
  max-width: 598px;
  width: 100%;
  min-height: 70px;
  margin: 50px auto 163px auto;
  outline: none;
  border: none;
  background-color: #cc5520;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}
.mainpage__join {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 859px;
  width: 100%;
  margin-bottom: 158px;
}
.mainpage__join__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 5%;
  margin-bottom: 10px;
}
.mainpage__join__text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}
.mainpage__subscribe {
  display: flex;
  justify-content: space-between;
  max-width: 755px;
  width: 100%;
  min-height: 70px;
}
.mainpage__input {
  max-width: 100%;
  width: 100%;
  outline: none;
  border: 1px solid #9D9D9D;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  min-height: 70px;
}
.mainpage__btn {
  max-width: 210px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  min-height: 70px;
  cursor: pointer;
}

.hashtag {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 5%;
}

@media (max-width: 850px) {
  .mainpage__items {
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 670px) {
  .mainpage__wrapper {
    padding-top: 200px;
    padding-bottom: 50px;
    min-height: 375px;
  }
  .mainpage__title {
    font-size: 40px;
    line-height: 48px;
  }
  .mainpage__text {
    font-size: 16px;
    max-width: 100%;
  }
  .mainpage__subscribe {
    flex-direction: column;
    max-width: 100vw;
    width: 100%;
  }
  .mainpage__input {
    min-height: 70px;
    max-width: 100vw;
    width: 100%;
  }
  .mainpage__btn {
    max-width: 100%;
    margin-top: 20px;
    min-height: 70px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  min-height: 380px;
  background-color: #191919;
  color: white;
}
.footer__wrapper {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  min-height: 180px;
  margin-top: 80px;
}
.footer__info {
  line-height: 21px;
  letter-spacing: 5%;
}
.footer__logo {
  max-width: 121.67px;
}
.footer__text {
  max-width: 200px;
  font-size: 14px;
  margin: 18px 0 9px 0;
}
.footer__contact {
  margin-bottom: 15px;
}
.footer__sotial-networks {
  display: flex;
  justify-content: space-between;
  max-width: 99px;
}
.footer__icon {
  max-width: 23px;
  cursor: pointer;
}
.footer__lists {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  width: 100%;
}
.footer__copyright {
  margin-top: 70px;
}

.list__title {
  font-weight: 600;
  font-style: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.list__item {
  margin-bottom: 15px;
  font-style: 14px;
}

@media (max-width: 850px) {
  .footer__menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__lists {
    flex-wrap: wrap;
  }
  .footer__sotial-networks {
    margin: 0 auto 40px auto;
  }
  .footer__copyright {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
.our-history {
  display: none;
  flex-direction: column;
  align-items: center;
}
.our-history__road {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  width: 100%;
  min-height: 150px;
  background-color: #e6e6e6;
}
.our-history__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin-bottom: 140px;
}
.our-history__block1 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  margin-top: 110px;
}
.our-history__block2 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  margin-top: 67px;
}

.path {
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.05em;
  text-align: center;
}

.path-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}

.block__text {
  max-width: 651px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: left;
}
.block__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 31px;
}
.block__img {
  max-width: 469px;
  max-height: 602px;
}

@media (max-width: 850px) {
  .our-history__block1, .our-history__block2 {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .our-history__block2 {
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .our-history__block1 {
    margin-top: 0;
  }
  .our-history__blocks {
    margin-bottom: 30px;
  }
  .block__title {
    margin-top: 20px;
  }
}
.all-items {
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.all-items__road {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  width: 100%;
  min-height: 150px;
  margin-bottom: 23px;
}
.all-items__block {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.all-items__setting {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
}
.all-items__search {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 55px;
  margin-bottom: 54px;
}
.all-items__input {
  position: relative;
  min-height: 55px;
  max-width: calc(100% - 38px);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 0;
  padding-left: 38px;
}
.all-items__icon {
  position: absolute;
  max-width: 22px;
  right: 10px;
  top: 18px;
}
.all-items__categories {
  max-width: 100%;
  width: 100%;
  margin-bottom: 40px;
}
.all-items__categories__block {
  display: flex;
  flex-direction: column;
}
.all-items__topic {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 15px;
}
.all-items__category {
  padding: 15px 30px;
  cursor: pointer;
}
.all-items__category:hover {
  color: white;
  background: #cc5520;
}
.all-items__change-price {
  max-width: 100%;
  width: 100%;
}
.all-items__range {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}
.all-items__value {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}
.all-items__block2 {
  display: flex;
  flex-direction: column;
}
.all-items__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 40px;
}
.all-items__item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 421px;
  width: 100%;
}
.all-items__btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #cc5520;
  min-width: 55px;
  min-height: 55px;
  color: white;
  cursor: pointer;
  top: 20px;
  right: 20px;
}
.all-items__btn:hover {
  color: #cc5520;
  background-color: #fff;
}
.all-items__btn:hover .all-items__plus {
  fill: #cc5520;
}
.all-items__plus {
  font-size: 30px;
  fill: white;
}
.all-items__info {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  align-items: center;
}
.all-items__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}
.all-items__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}
.all-items__stars {
  display: flex;
  align-items: center;
}
.all-items__stars img {
  max-width: 15px;
}
.all-items__class {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #969595;
}
.all-items__see-all {
  max-width: 598px;
  width: 100%;
  min-height: 70px;
  background-color: #cc5520;
  color: #fff;
  border: none;
  outline: none;
  margin: 80px auto 50px;
  cursor: pointer;
}

@media (max-width: 1150px) {
  .all-items__block {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }
  .all-items__setting {
    max-width: 100%;
  }
  .all-items__categories {
    max-width: 100%;
  }
  .all-items__categories__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .all-items__category {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 168px;
    width: 100%;
    min-height: 54px;
    border-radius: 7px;
    border: 1px solid #ff3d00;
    color: #ff3d00;
  }
  .all-items__range {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .all-items__change-price {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .all-items__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
  }
}
.basket {
  position: absolute;
  max-width: 395px;
  width: 100%;
  min-height: calc(100vh - 96px);
  background-color: #fff;
  right: -445px;
  padding: 48px 25px;
  z-index: 2;
  transition: 0.5s;
}
.basket__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basket__cross {
  max-width: 13px;
}
.basket__road {
  margin-top: 15px;
  margin-bottom: 20px;
}
.basket__cards {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  max-height: 60vh;
  box-sizing: border-box;
  overflow: auto;
}
.basket__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;
}
.basket__info {
  display: flex;
  flex-direction: column;
}
.basket__img {
  max-width: 204px;
}
.basket__text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 5px;
}
.basket__price {
  font-weight: 600;
}
.basket__counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80px;
  width: 100%;
}
.basket__counter__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}
.basket__counter__delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70px;
  width: 100%;
  cursor: pointer;
}
.basket__counter__delete img {
  max-width: 22.75px;
}
.basket__minus {
  font-size: 27px;
  font-weight: 700;
  cursor: pointer;
}
.basket__count {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cc5520;
  font-size: 19px;
  font-weight: 700;
  line-height: 34.54px;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  max-width: 50px;
  width: 100%;
  max-height: 35px;
  border-radius: 45%;
}
.basket__plus {
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
.basket__remove {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
}
.basket__buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 30px;
  max-width: 100%;
  width: 100%;
  font-size: 37px;
  font-weight: 800;
  line-height: 55.5px;
  letter-spacing: 0.05em;
}
.basket__total {
  display: flex;
  font-size: 30px;
}
.basket__checkout {
  min-height: 70px;
  max-width: 355px;
  width: 100%;
  background: #cc5520;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
}

.basket-hidden {
  right: -100%;
  transition: right 0.5s ease-in-out;
}

.basket-active {
  right: 0;
  transition: right 0.5s ease-in-out;
}

@media (max-width: 670px) {
  .basket__total {
    flex-direction: row;
    font-size: 30px;
  }
  .basket__buy {
    bottom: 20px;
  }
  .path-title {
    font-size: 20px;
  }
}/*# sourceMappingURL=styles.css.map */